.nikecontainer { 
    width: 100%;
    height: 40vh; /* 화면 전체 높이 */
    align-items: center;
    font-size: 28px;
    font-weight: bold;
}

.nike-lett1 {
    margin-left: 85px;
    margin-top: 13px;
    font-size: 24px;
    font-weight: bolder;
}
.nike-lett2 {
    margin-left: 85px;
    margin-top: -3px;
    font-size: 20px;
    color: rgb(211, 211, 211);
}

.nike-container2{
        max-width: 100%; /* 슬라이더 너비 설정 */
        margin: 10px 40px; /* 가운데 정렬 */
        display: flex;
        flex-wrap: wrap;
}