/* 검색 결과 컨테이너 */
.search-resu {
    background-color: #ffffff; /* 더 밝은 배경색으로 변경 */
    border: 1px solid #ccc; /* 테두리를 더 연한 회색으로 변경 */
    border-radius: 12px; /* 모서리를 더 둥글게 변경 */
    padding: 20px; /* 여백을 더 넓게 변경 */
    max-width: 650px; /* 최대 너비를 설정하여 콘텐츠 폭 제한 */
    margin: 20px auto; /* 상하 여백 추가 및 가운데 정렬 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 약간의 그림자 추가 */
    margin-top: 100px;
}

.search-resu h1{
    margin-left: 250px;
}

.search-results-container {
    display: flex;
    flex-wrap: wrap; /* 행에서 넘칠 경우 다음 행으로 */
    gap: 20px; /* 카드 간격 */
    justify-content: center; /* 가운데 정렬 */
    margin-top: 50px;
  }
  
  /* 검색 결과 아이템 */
  .search-result-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    width: 150px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .search-result-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  /* 이미지 스타일 */
  .result-image {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
  }
  
  /* 이름 스타일 */
  .result-name {
    font-size: 1em;
    color: #333;
    margin: 0;
  }
  